body{
    border: none;
    margin: 0;
}
input, button{
    border-radius: 3px;
}
input{
    width:10em;
    border:none;
    background-color: #d6d6d6;
    text-align: right;
}
button{
    border: none;
    background-color: #a3a3a3;
    margin: 0;
}
#Table{
    display: table;
    font-family: monospace;
}
.Title{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.Title p{
    margin-top:0;
}
.Row{
    display: table-row;
}
.Cell{
    display: table-cell;
    padding: 2px;
}
.Cell p{
    margin:0;
}
fieldset {
    border: none;
    margin:0;
    padding:0;
}
.Row.Advanced{
    display: none;
}
#HorizontalCenter{
    position: relative;
    left: 50%;
    float: left;
}
#TableContainer{
    position: relative;
    left: -50%;
    float: left;
    border: 0.2em solid #999999;
    padding: 1em;
    border-radius: 10px;
    background-color: #EFEFEF
}
#OuterContainer{
    position: absolute;
    z-index: 2;
    top:1em;
    width:100%;
}
input.radio {
    display: inline-block;
    width:25%;
    margin:0;
    float: left;
}
fieldset label{
    display: inline-block;
    width:25%;
    float: left;
}
button#Start {
    background-color: #00da33;
    width:100%;
    float: left;
}
button#AdvancedButton {
    float: right;
}
#CanvasWrapper {
    width: 100%;
    height: 100%;
}
#Canvas {
    border: none;
    margin: 0;
    z-index: 1
}
#FrameRates {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    text-align: right;
    font-family: monospace;
    color: #FFFFFF
}
#SetDefaultOrientation {
    margin: 0;
    position: fixed;
    z-index: 3;
    top: 0
}
.HideOnStartup{
    display: none;
}